*{
	padding:0;
	margin:0;
}
body{
	background-color: #333;
}
.bg-div{
	position:relative;
	left:8px;
	top:10px;
	width:1349px;
	height:645px;
	background:url('background.jpg');
	background-size:1349px 645px;
}
.logo{
	background-image:url('logo.png');
	width:107px;
	height:53px;
	float:left;
	margin:-4px 18px 0 0;
}
form{
	float:left;
	background-color: #fff;
	padding:5px;
}
.search-input-text{
	border:0;
	height:25px;
	line-height:25px;
	outline:none;
	float:left;
}
.search-input-button{
	border:0;
	background:url('search-button.png');
	width:29px;
	height:29px;
	float:left;
}
.search-box{
	position:absolute;
	left:300px;
	top:200px;
}
