*{
	margin:0;
	padding:0;
}
body{
	width:100vw;
	height:100vh;
	background: #bbd149;
	display:flex;
	justify-content:center;
	align-items:center;
}
.box{
	width:50px;
	height:50px;
	position:relative;
}

.box::before{
	content:'';
	width:50px;
	height:8px;
	background-color: #000;
	opacity:0.2;
	position:absolute;
	top:67px;
	left:0;
	border-radius:50%;
	-webkit-animation:shadow .5s linear infinite;
}

.box::after{
	content:'';
	background-color: #fff;
	width:50px;
	height:50px;
	position:absolute;
	top:0;
	left:0;
	border-radius:5px;
	-webkit-animation:rotate .5s linear infinite;
}

@keyframes shadow{
	0%,100%{
		transform:scaleX(1);
	}
	50%{
		transform:scaleX(1.2);
	}
}
@keyframes rotate{
	0%{
		transform: translateY(0) rotate(0deg);
	}
	25%{
		transform:translateY(10px) rotate(22.5deg) ;
	}
	50%{
		transform:translateY(20px) rotate(45deg)  scale(1.1,0.9);
		border-bottom-right-radius:50px;
	}
	75%{
		transform:translateY(10px) rotate(67.5deg) ;
	}
	100%{
		transform:translateY(0) rotate(90deg) ;
	}
}
