*{
	padding:0;
	margin:0;
}
#mask{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: #899;
	z-index:100;
}
.popup{
	position:absolute;
	left:0;
	top:0;
	width:500px;
	height:300px;
	border:3px solid pink;
	z-index:1001;
	background-color: #000;
}
.popup span.btn{
	background-color: pink;
	position:absolute;
	bottom:20px;
	font-size:14px;
	padding:5px;
	border:3px solid #ccc;
	border-radius:5px;
	cursor:pointer;
}
.popup span.ok{
	left:40%;
}
.popup span.cancel{
	right:40%;
}
.popup span.close{
	position:absolute;
	right:2px;
	top:2px;
	width:30px;
	height:30px;
	background:url('close.png') no-repeat center center;
	background-size:95%;
}
