@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
*{
	margin:0;
	padding:0;
}

*,*:after,*:before{
	box-sizing:border-box;
}

html,body{
	height:100vh;
	background-color: #e5e5e5;
	color:#555;
	font:16px/1 'Open Sans' sans-serif ;
}

body{
	padding:50px;
}

.togglebox{
	width:400px;
	margin:0 auto;
	background-color: #fff;
}

input[type="radio"]{
	position:absolute;
	opacity:0;
}

label{
	position:relative;
	display:block;
	width:100%;
	height:50px;
	font-size:14px;
	line-height:50px;
	font-weight:700;
	padding:0 20px;
	border-top: 1px solid #ccc;
	cursor:pointer;
}

label:after{
	content:'\f078';
	position:absolute;
	top:0;
	right:20px;
	font-family:fontawesome;
	transform:rotate(90deg);
	transition:all ease 0.5s;
}

#toggle1:checked ~ label[for*="1"]:after,
#toggle2:checked ~ label[for*="2"]:after,
#toggle3:checked ~ label[for*="3"]:after,
#toggle4:checked ~ label[for*="4"]:after{
	transform:rotate(0deg);
}

section{
	height:0;
	overflow:hidden;
	transition:all ease 0.3s;
}

#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3,
#toggle4:checked ~ #content4{
	height:200px;
}

p{
	margin:15px 0;
	padding: 0 20px;
	font-size:12px;
	line-height:1.5;
}
